@charset "UTF-8";

@keyframes menu-anim-fade-in {
  		from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} 

.fade {
  animation: menu-anim-fade-in 0.5s;
}

	ul {
		list-style: none;
		padding: 3px;
		margin: 0;
		display: inline-block;
		}
	li {
		display: block;
		padding:3px;
		}
	li:hover {
		cursor:pointer;
	}
	.button {
		padding:10px;
		margin-left:20px;
	}
	.list {
		float: left;
		
	}
	#menu1 {
		margin-left:10px;
	}
	#menu2 {
		margin-left:100px;
	}
	#menu3 {
		margin-left:190px;
	}
	.menubox * {
    	border-right: solid blue 2px;
    	border-bottom: solid blue 2px;
    	border-left: solid blue 2px;
	}
	